{% extends "base.html" %}

{% block title %}Mentor Matching{% endblock %}

{% block styles %}
  {{ super() }}
  {% set styles = [
      "static/styles/authors.css"
    ] %}
  {% for style in styles %}
    <link rel="stylesheet" type="text/css" href={{ style }}>
  {% endfor %}
{% endblock %}

{% block header %}
  {% set nav_items = [
      {
        "baseURL": "/about", "iconLabel": "question-circle", "text": "About",
        "adjust": "left"
      },
      {
        "baseURL": "/authors", "iconLabel": "users", "text": "Meet the Creators",
        "adjust": "left"
      },
      {
        "baseURL": "/authenticate", "iconLabel": "user", "text": "Login",
        "adjust": "right"
      }
    ] %}
  {% include "navbar.html" %}
{% endblock %}

{% block main_content %}
<div class="content-block" id="title-block">
  <h1 class="page-title" id="title">Meet The Creators</h1>
</div>
<div class="content-block" id="creator-cards-container">
  {% for creator in authors %}
    <div class="creator-card" id="{{ creator.name }}-card">
      <img class="creator-picture" src="static/images/{{ creator.imageURL }}" alt="{{ creator.name }}" />
      <h3 class="creator-name">{{ creator.name }}</h3>
      <p class="creator-college">{{ creator.college }}</p>
      <p class="creator-description">{{ creator.description }}</p>
    </div>
  {% endfor %}
</div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% set scripts = [
      "static/scripts/authors.js"
    ]%}
  {% for script in scripts %}
    <script charset="utf-8" type="text/javascript" src={{ script }}></script>
  {% endfor %}
{% endblock %}
