{% extends "base.html" %}

{% block title %}Mentor Matching{% endblock %}

{% block styles %}
  {{ super() }}
  {% set styles = [
      "static/styles/landing.css"
    ] %}
  {% for style in styles %}
    <link rel="stylesheet" type="text/css" href={{ style }}>
  {% endfor %}
{% endblock %}

{% block header %}
  {% set nav_items = [
      {
        "baseURL": "/about", "iconLabel": "question-circle", "text": "About",
        "adjust": "left"
      },
      {
        "baseURL": "/authors", "iconLabel": "users", "text": "Meet the Creators",
        "adjust": "left"
      },
      {
        "baseURL": "/authenticate", "iconLabel": "user", "text": "Login",
        "adjust": "right"
      }
    ] %}
  {% include "navbar.html" %}
  {% set title_image = "static/images/blank.png" %}
  {% set title = "Mentor Matching" %}
  {% include "title-block.html" %}
{% endblock %}

{% block main_content %}

{% endblock %}

{% block scripts %}
  {{ super() }}
  {% set scripts = [
      "static/scripts/landing.js"
    ]%}
  {% for script in scripts %}
    <script charset="utf-8" type="text/javascript" src={{ script }}></script>
  {% endfor %}
{% endblock %}
