{% extends "base.html" %}

{% block title %}Mentor Matching{% endblock %}

{% block styles %}
  {{ super() }}
  {% set styles = [
      "static/styles/landing.css"
    ] %}
  {% for style in styles %}
    <link rel="stylesheet" type="text/css" href={{ style }}>
  {% endfor %}
{% endblock %}

{% block header %}
  {% set nav_items = [
      {
        "baseURL": "/about", "iconLabel": "question-circle", "text": "About",
        "adjust": "left"
      },
      {
        "baseURL": "/authors", "iconLabel": "users", "text": "Meet the Creators",
        "adjust": "left"
      },
      {
        "baseURL": "/authenticate", "iconLabel": "user", "text": "Login",
        "adjust": "right"
      }
    ] %}
  {% include "navbar.html" %}
{% endblock %}

{% block main_content %}
<div class="content-block" id="title-block">
  <h1 class="page-title" id="title">Mentor Matching</h1>
</div>
<div class="content-block" id="join-mentor-matcher">
  <button class="join-matcher-button pretty-button" id="join-as-mentee">Find a<br>mentor</button>
  <button class="join-matcher-button pretty-button" id="join-as-mentor">Become a mentor</button>
</div>
<div class="content-block" id="member-sign-in">
  <p class="short-tip" id="already-a-member">Already a member?</p>
  <button class="pretty-button" id="login-button">Login</button>
</div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% set scripts = [
      "static/scripts/landing.js"
    ]%}
  {% for script in scripts %}
    <script charset="utf-8" type="text/javascript" src={{ script }}></script>
  {% endfor %}
{% endblock %}
