<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>My Profile Settings</title>
</head>

<body>
	<div id="navbar">
    Navigation bar
	</div>
  <form onsubmit="updateProfile()">
    Legal Name: <input type="text" name="legal-name" />
    Preferred Name: <input type="text" name="preferred-name" />
    Email Address: <input type="email" name="email" />
    Location: <input type="text" name="location" />
    Education: <input type="text" name="education" />
    <!-- Want to be able to add rows to the education panel -->
    <!-- Type of mentor: want to make it a selection from a collection of labels -->
    <!-- Gender: selecting male/female, or others with a specification text input -->
    <!-- Ethnicity: also a dropdown selection -->
    <button type="submit" />

  </form>
	<footer>
		This is a footer.
	</footer>

</body>

</html>
