:root {
  --blue: #348edc;
  --blue-lightened: #99c6ed;
  --dark-blue: #4c81af;
  --dark-blue-lightened: #a4c0d7;
}

html, body, .main-body {
  height: 100%;
  /* height: -webkit-fill-available; */
}

body {
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  min-width: 700px;
  align-items: center;
}

.main-body {
  position: relative;
  top: 48px;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-width: 700px;
  width: 100%;
  background-color: var(--dark-blue);
}

.main-body::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url("/static/images/blank.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  filter: brightness(1.2) blur(7px);
  -webkit-filter: brightness(1.2) blur(7px); */
}

.main-content {
  box-sizing: border-box;
  z-index: 1;
  height: -webkit-fill-available;
  width: 100%;
  max-width: 100%;
}

.pretty-button {
  min-height: 30px;
  padding: 0px 10px;
  margin: 10px;
  color: black;
  font-family: roboto;
  font-weight: bold;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 15px;
  border-color: black;
  border-width: 1px;
}
.pretty-button :hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.5);
}

.inline-pic-left {
  float: left;
  margin-right: 2em;
}

.inline-pic-right {
  float: right;
  margin-left: 2em;
}

.content-block {
  display: flex;
  flex-flow: column nowrap;
  box-sizing: 100%;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.content-block > h1 {
  align-self: center;
}



.content-block#title-block > #title {
  font-size: 64px;
  z-index: 1;
  opacity: 1.0;
  color: darkseagreen;
  margin-top: 1em;
}
